!!!
/[if IE 8] <html lang="en" class="ie8">
/[if IE 9] <html lang="en" class="ie9">
/ [if !IE]><!
%html{lang: "en"}
  / <![endif]
  %head
    %title Responsive website template for education
    / Meta
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    -# %link{href: "favicon.ico", rel: "shortcut icon"}/
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700", rel: "stylesheet", type: "text/css"}/
    - css_assets.each do |file|
      %link{rel: "stylesheet", type: "text/css", href: asset_path(file)}
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body.home-page
    .wrapper
      / ******HEADER******
      %header.header
        .top-bar
          .container
        -#     %form.pull-right.search-form{role: "search"}
        -#       .form-group
        -#         %input.form-control{placeholder: "Search the site...", type: "text"}/
        -#       %button.btn.btn-theme{type: "submit"} Go
        / //to-bar
        .header-main.container
          %h1.logo.col-md-6.col-sm-6
            %a{href: "index.html"}
              %img#logo{alt: "Logo", src: asset_path('logo.gif')}/
              .hidden-xs
                %h3 Young Actor's House
          / //logo
          .info.col-md-6.col-sm-6
            %ul.menu-top.navbar-right.hidden-xs
              %li
                %a{href: "#"}
                  %i.fa.fa-twitter
              %li
                %a{href: "#"}
                  %i.fa.fa-facebook
              %li
                %a{href: "#"}
                  %i.fa.fa-youtube
              %li
                %a{href: "#"}
                  %i.fa.fa-linkedin
              %li
                %a{href: "#"}
                  %i.fa.fa-google-plus
            / //menu-top
            %br/
            .contact.pull-right
              %p.phone
                %i.fa.fa-phone>
                Call us today 0800 123 4567
              %p.email
                %i.fa.fa-envelope
                %a{href: "#"} enquires@website.com
            / //contact
          / //info
        / //header-main
      / //header
      / ******NAV******
      %nav.main-nav{role: "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            / //nav-toggle
          / //navbar-header
          #navbar-collapse.navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.active.nav-item
                %a{href: "index.html"} Home
              %li.nav-item.dropdown
                %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
                  Courses
                  %i.fa.fa-angle-down
                %ul.dropdown-menu
                  %li
                    %a{href: "courses.html"} Course List
                  %li
                    %a{href: "course-single.html"} Single Course (with image)
                  %li
                    %a{href: "course-single-2.html"} Single Course (with video)
              %li.nav-item.dropdown
                %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
                  News
                  %i.fa.fa-angle-down
                %ul.dropdown-menu
                  %li
                    %a{href: "news.html"} News List
                  %li
                    %a{href: "news-single.html"} Single News (with image)
                  %li
                    %a{href: "news-single-2.html"} Single News (with video)
              %li.nav-item
                %a{href: "events.html"} Events
              %li.nav-item.dropdown
                %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
                  Pages
                  %i.fa.fa-angle-down
                %ul.dropdown-menu
                  %li
                    %a{href: "about.html"} About
                  %li
                    %a{href: "team.html"} Leadership Team
                  %li
                    %a{href: "jobs.html"} Jobs
                  %li
                    %a{href: "job-single.html"} Single Job
                  %li
                    %a{href: "gallery.html"} Gallery (3 columns)
                  %li
                    %a{href: "gallery-2.html"} Gallery (4 columns)
                  %li
                    %a{href: "gallery-3.html"} Gallery (2 columns)
                  %li
                    %a{href: "gallery-4.html"} Gallery (with sidebar)
                  %li
                    %a{href: "gallery-album.html"} Single Gallery
                  %li
                    %a{href: "gallery-album-2.html"} Single Gallery (with sidebar)
                  %li
                    %a{href: "faq.html"} FAQ
                  %li
                    %a{href: "privacy.html"} Privacy Policy
                  %li
                    %a{href: "terms-and-conditions.html"} Terms & Conditions
              / //dropdown
              %li.nav-item.dropdown
                %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
                  Shortcodes
                  %i.fa.fa-angle-down
                %ul.dropdown-menu
                  %li
                    %a{href: "typography.html"}
                      %i.fa.fa-file-text
                      Typography
                  %li
                    %a{href: "tables.html"}
                      %i.fa.fa-table
                      Tables
                  %li
                    %a{href: "buttons.html"}
                      %i.fa.fa-star
                      Buttons
                  %li
                    %a{href: "components.html"}
                      %i.fa.fa-rocket
                      Components
                  %li
                    %a{href: "icons.html"}
                      %i.fa.fa-heart
                      Icons
              / //dropdown
              %li.nav-item
                %a{href: "contact.html"} Contact
            / //nav
          / //navabr-collapse
        / //container
      / //main-nav
      / ******CONTENT******
      .content.container
        = content
    -# %script{type: "text/javascript", src: "/styles/main.js"}
